
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #07051b;
  color: white;
}

.App {
  background:
    radial-gradient(circle at top left, #1b1240, transparent 40%),
    radial-gradient(circle at bottom right, #2b0f4f, transparent 40%),
    #07051b;
}  
